@charset "UTF-8";

/* Grid Layout */
.flexbox {
    padding: 15px;
    margin: 20px auto;
    background-color: #999;
    display: flex;
    justify-content: center;
}
/* 横4 * 縦4 */
.flexbox_1 {
    width: 680px;
    flex-wrap: wrap;
}
/* 横2 * 縦2 */
.flexbox_2 {
    width: 350px;
    flex-wrap: wrap;
}
/* 横6 * 縦1 */
.flexbox_3 {
    width: 1000px;
}
.ui {
    padding: 20px 70px;
    margin: 2px;
    background-color: #f39;
    border-radius: 5px;
    font-weight: bold;
}